&__hero {
  &-thumbnail {
    @apply aspect-w-14 aspect-h-16 mx-full;
    margin-bottom: 35px;

    @media (min-width: theme('screens.sm')) {
      @apply aspect-w-16 aspect-h-9 mx-0;
      margin-bottom: 49px;
    }

    img {
      object-fit: cover;
    }

    &-label {
      padding: 11px 17px;
      width: auto;
      height: auto;
      right: auto;
      bottom: auto;
      font-size: 14px;

      @media (min-width: theme('screens.sm')) {
        padding: 14px 29px;
        font-size: 24px;
      }
    }
  }

  &-meta {
    @apply text-carbon items-end;

    margin-bottom: 26px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;

    @media (min-width: theme('screens.sm')) {
      font-size: 18px;
      margin-bottom: 32px;

      time {
        font-size: 20px;
      }
    }
  }

  &-title {
    display: block;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
    text-decoration: underline;
    word-break: keep-all;
    letter-spacing: -0.48px;
    line-height: 1.6;

    @media (min-width: theme('screens.sm')) {
      font-size: 40px;
      margin-bottom: 46px;
    }
  }

  &-main {
    @apply text-carbon;
  }
}
