@mixin content__card {
  .content__card {
    @apply grid grid-cols-[3fr,minmax(150px,2fr)] justify-between gap-x-[10px] gap-y-[20px];

    &-meta {
      // layout
      @apply col-span-2;
      // style
      @apply text-carbon;

      order: -2;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      line-height: 1;

      @media (min-width: theme('screens.sm')) {
        font-size: 18px;
        time {
          font-size: 20px;
        }
      }

      .btn-seaSerpent {
        @apply py-[6px] px-[14px];

        font-size: 12px;
        font-weight: normal;
      }

      &-term {
        @apply flex items-center gap-x-[8px];
      }
    }

    &-title {
      font-size: 20px;
      font-weight: bold;
      order: -1;

      @media (min-width: theme('screens.sm')) {
        font-size: 28px;
      }
    }

    &-thumbnail {
      @apply aspect-w-16 aspect-h-9;

      img {
        object-fit: cover;
      }
    }

    &-main {
      @apply text-davyGrey;

      @media (min-width: theme('screens.sm')) {
        font-size: 18px;
      }

      .prose {
        font-size: 14px;

        @media (min-width: theme('screens.sm')) {
          font-size: 18px;
        }
      }
    }
  }
}
