&__hashtag {
  $p: &;
  @apply grid grid-rows-[auto,60px,1fr] gap-y-[20px] h-full;

  &-meta {
    @apply text-blackOut;

    font-size: 14px;
    font-weight: bold;
    line-height: 1;

    &-term {
      width: auto !important;

      a {
        white-space: nowrap;
      }
    }
  }

  #{$p} &-term {
    @apply py-[7px] px-[12px] btn-seaSerpent transform translate-y-1/2;
    @apply w-auto h-auto top-auto right-auto rounded-none;

    font-size: 14px;
  }

  &-title {
    height: 3.33333em;

    a {
      @apply line-clamp-2;
      line-height: 28px;
    }

    font-size: 18px;
    font-weight: bold;
  }

  &-thumbnail {
    @apply aspect-w-16 aspect-h-9 h-0;

    --tw-aspect-w: 230;
    --tw-aspect-h: 163;

    order: -1;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  &-footer {
    width: 100%;
    overflow: hidden;
  }

  &-readmore {
    margin-top: 16px;
    display: flex;

    @media (min-width: theme('screens.sm')) {
      margin-top: 36px;
    }
  }
}
