@mixin card {
  .card__template {
    // layout
    @apply grid grid-rows-[auto,60px,auto,auto,auto];
    &-meta {
      @apply order-last;

      time {
        display: none;
      }
    }
    &-main {
      padding-top: 16px;
      padding-bottom: 20px;

      @media (min-width: theme('screens.lg')) {
        padding-bottom: 30px;
      }
    }

    &-thumbnail {
      order: -1;
      margin-bottom: 20px;
    }

    &-readmore {
      display: none;
    }
  }
}
