@mixin card {
  .card__template {
    // layout
    @apply grid grid-rows-[auto,36px,60px,auto,auto];
    &-meta {
      margin-bottom: 8px;
    }
    &-main {
      padding-top: 16px;
    }

    &-thumbnail {
      order: -1;
      margin-bottom: 20px;
    }

    &-readmore {
      font-size: 15px;
      margin-top: 24px;
    }
  }
}
