@mixin card {
  .card__template {
    @apply grid grid-cols-[1fr,150px] justify-between gap-x-[12px] gap-y-[20px];

    &-meta {
      @apply col-span-2;
      order: -2;
    }

    &-title {
      order: -1;
      > a {
        @media (max-width: theme('screens.lg')) {
          @apply line-clamp-2;
        }
      }
    }

    &-body {
      @media (max-width: theme('screens.lg')) {
        @apply self-center;
      }
    }

    &-main {
      @apply col-span-2;
      font-size: 18px;
      .prose {
        @media (min-width: theme('screens.sm')) {
          font-size: 18px;
        }
      }
    }

    &-readmore {
      display: none;
    }
  }
}
