@mixin card {
  .card__template {
    // layout
    @apply grid grid-cols-[340px,1fr] grid-rows-[auto,1fr,36px] gap-x-[40px] gap-y-[15px];
    &-meta {
      order: 4;
    }
    &-body {
      order: 2;
    }
    &-main {
      order: 3;
    }
    &-thumbnail {
      @apply row-span-3;
      order: 1;
    }
    &-title {
      @apply line-clamp-2;
    }

    &-meta {
      @apply text-carbon;

      align-self: flex-start;
      display: flex;
      font-size: 14px;
      font-weight: bold;
      line-height: 1;

      .btn-seaSerpent {
        @apply py-[6px] px-[14px];

        font-size: 12px;
        font-weight: normal;
      }

      time {
        display: none;
      }

      &-term {
        @apply flex items-center gap-x-[8px];
      }
    }

    &-main .prose {
      @apply line-clamp-3;
    }

    &-readmore {
      display: none;
    }
  }
}
