&__template {
  &-meta {
    @apply text-carbon;

    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;

    .btn-seaSerpent {
      @apply py-[6px] px-[14px];

      font-size: 12px;
      font-weight: normal;
    }

    &-term {
      @apply flex items-center gap-x-[8px];
    }
  }

  &-title {
    font-size: 20px;
    font-weight: bold;
  }

  &-thumbnail {
    @apply aspect-w-16 aspect-h-9;

    img {
      object-fit: cover;
    }
  }

  &-main {
    @apply text-davyGrey;

    .prose {
      font-size: 14px;
    }
  }

  &-readmore {
  }
}
