.keyvisual-abouta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 792px;
  background-image: url("{$imgURL}/about_a-sec01-bg.png");
  /* Scroll Down */
}
.keyvisual-abouta h2 {
  color: #fff;
}
.keyvisual-abouta h2 span {
  color: #bbcbff;
}
.keyvisual-abouta .prose {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.6;
  color: #fff;
}
.keyvisual-abouta .scrolldown-wrapper {
  left: 50%;
  position: absolute;
  text-align: center;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.keyvisual-abouta .scrolldown {
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  height: 46px;
  margin: 0 auto 8px;
  text-align: center;
  width: 30px;
}
.keyvisual-abouta .scrolldown-p1,
.keyvisual-abouta .scrolldown-p2 {
  animation-duration: 1.5s;
  animation-name: scrolldown;
  animation-iteration-count: infinite;
  fill: #FFFFFF;
}
.keyvisual-abouta .scrolldown-p2 {
  animation-delay: 0.75s;
}
@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translate(0, -8px);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 8px);
  }
}