@import 'tailwindcss/base';

@import 'functions/*';
@import 'common/global';
@import 'common/wp';

@import 'components/btn';
@import 'components/col';
@import 'components/underline';
@import 'components/icon';

@import 'components/header';
@import 'components/footer';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'common/tailwindComponents';
