@import 'tailwindcss/base';

@import 'functions/*';
@import 'common/global';
@import 'common/wp';

@import 'components/btn';
@import 'components/listDivider';
@import 'components/underline';
@import 'components/icon';

@import 'layouts';
@import 'components/header';
@import 'components/footer';
@import 'components/content';
@import 'components/card';
@import 'components/sns';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind variants;
@import 'common/tailwindComponents';

@import 'pages/front-page';
@import 'pages/about-us';
@import 'pages/content-single';
@import 'pages/search';
