&__main {
  $p: &;

  font-size: 14px;

  @apply text-gravelFint;

  a[href]:hover {
    text-decoration: underline;
  }

  &-1 {
    @apply bg-jet;

    @mixin h2 {
      @apply text-white;

      display: block;
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 18px;
    }

    &-nav {
      @apply grid grid-cols-2;

      @media (max-width: theme('screens.sm')) {
        width: 100%;
      }
      @media (min-width: theme('screens.sm')) {
        @apply grid-cols-1;
      }

      .group > a {
        @include h2;
      }

      .comoany {
        order: 2;
      }

      .policies {
        order: 3;
      }

      .freeapp {
        @apply col-span-2;

        order: 1;
        @media (max-width: theme('screens.sm')) {
          @apply py-[20px] mx-[-16px] px-[16px] my-[20px] border-t-[1px] border-b-[1px] border-gravelFint border-opacity-5;
        }
      }

      .icon-label:before {
        font-size: 32px;
      }

      @media (min-width: theme('screens.sm')) {
        @apply grid-cols-[230px,230px,230px] gap-x-[15px];

        .comoany {
          order: 1;
        }

        .policies {
          order: 2;
        }

        .freeapp {
          @apply col-span-1;

          order: 3;
        }

        .icon-label {
          display: flex;
        }

        .icon-label:before {
          font-size: 1em;
        }
      }
    }

    .freeapp > .sub-menu {
      column-gap: 50px;
      display: flex;

      @media (min-width: theme('screens.sm')) {
        display: grid;
        row-gap: 16px;
      }
    }
    .sub-menu {
      display: grid;
      row-gap: 18px;
      @media (min-width: theme('screens.sm')) {
        row-gap: 20px;
      }
    }

    .h2 {
      @include h2;
    }
  }

  &-2 {
    @apply bg-raisinBlack;

    #{$p}-inner {
      @apply py-[28px];
      @media (min-width: theme('screens.sm')) {
        @apply pt-[36px] pb-[18px];
      }
    }

    &-nav {
      display: flex;
      flex-wrap: wrap;
      gap: 0.4em 16px;
      position: relative;

      @media (min-width: theme('screens.sm')) {
        gap: 12px 16px;
      }

      &:after {
        @apply bg-raisinBlack;

        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        left: -8px;
      }

      .menu-item {
        position: relative;

        &:after {
          @apply bg-gravelFint;

          content: '';
          width: 1px;
          height: 1em;
          top: 50%;
          left: -8px;
          position: absolute;
          transform: translateY(-50%);
        }
      }
    }
  }

  &-inner {
    @apply py-[28px];
    @media (min-width: theme('screens.sm')) {
      @apply py-[36px];
    }
  }

  + .backtop {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    &.shrink {
      visibility: visible;
      opacity: 1;
    }
  }
}
