// GNB
@at-root {
  :root {
    --h-m-search: 60px;
    --h-m-gnb-nav: 0px;
  }
  @media (max-width: theme('screens.lg')) {
    :root {
      --h-m-gnb-nav: 44px;
    }
  }
}

&__m_main {
  &-nav {
    @apply h-[var(--h-m-gnb-nav)]
      flex
      gap-x-[22px]
      text-[16px]
      leading-snug
      relative
      border-steam
      border-b-[1px]
      border-opacity-30
      px-[var(--container-px)];

    &-item {
      @apply h-full flex items-center text-[16px] relative;

      white-space: nowrap;

      &::after {
        @apply bg-primary;

        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 0;
        width: 0;
        transform: translateX(-50%);
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
      }
      &-parent > .active {
        position: relative;
        &::after {
          width: calc(100% + 22px);
          height: 2px;
        }
      }
    }
  }

  &-subnav {
    @apply w-full text-[14px] flex bg-white gap-[22px] px-[var(--container-px)];
    @apply border-steam
    border-b
    border-t;

    overflow-x: scroll;
    @include no-scrollbar;

    position: absolute;
    top: 100%;
    left: 0;

    > li {
      @apply h-[var(--h-m-gnb-nav)] flex items-center text-opacity-50;

      a:hover {
        @apply text-primary;
      }

      &:hover,
      &.current-menu-item {
        @apply text-opacity-100;

        position: relative;

        &::after {
          @apply bg-white;

          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          height: 4px;
          width: 100%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &-search {
    @apply h-[var(--h-m-search)]
      px-[16px]
      flex
      gap-x-[4px]
      items-center
      justify-center
      bg-white
      absolute
      border-black border-b-[1px] border-opacity-30
      -translate-y-full;

    left: 0;
    top: 0;
    width: 100%;
  }
}
