.keyvisual-abouta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 792px;
  background-image: url(#{$imgURL}/about_a-sec01-bg.png);
  position: relative;
  @media (min-width: theme('screens.sm')) {
    height: 600px;
  }
  h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    @media (min-width: theme('screens.sm')) {
      font-size: 45px;
    }
    span{
      color: #bbcbff;
    }
  }
  .prose {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
    padding-bottom: 100px;
  }
  /* Scroll Down */
  .scrolldown-wrapper {
    position: absolute;
    bottom: 70px;
  }
    
  .scrolldown {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    height: 40px;
    margin: 0 auto 8px;
    text-align: center;
    width: 24px;
    svg {
      margin: 0 auto;
    }
    p {
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 300;
    }
  }

  .scrolldown-p1,
  .scrolldown-p2 {
    animation-duration: 1.5s;
    animation-name: scrolldown;
    animation-iteration-count: infinite;
    fill: #FFFFFF;
  }
    
  .scrolldown-p2 {
    animation-delay: .75s;
  }

  @keyframes scrolldown {
    0% {
      opacity: 0;
      transform: translate(0, -8px);
    }
    50% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, 8px);
    }
  }
}