.keyvisual-abouta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 792px;
  background-image: url(#{$imgURL}/about_a-sec01-bg.png);
  h2 {
    color: #fff;
    span{
      color: #bbcbff;
    }
  }
  .prose {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
  }
  /* Scroll Down */
  .scrolldown-wrapper {
    left: 50%;
    position: absolute;
    text-align: center;
    bottom: 0;
    transform: translate(-50%, -50%);
  }
    
  .scrolldown {
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    height: 46px;
    margin: 0 auto 8px;
    text-align: center;
    width: 30px;
  }

  .scrolldown-p1,
  .scrolldown-p2 {
    animation-duration: 1.5s;
    animation-name: scrolldown;
    animation-iteration-count: infinite;
    fill: #FFFFFF;
  }
    
  .scrolldown-p2 {
    animation-delay: .75s;
  }

  @keyframes scrolldown {
    0% {
      opacity: 0;
      transform: translate(0, -8px);
    }
    50% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, 8px);
    }
  }
}