%headerGroup {
  .entry {
    // layout
    &-header {
      @apply grid grid-cols-2;
    }
    &-footer {
      margin-bottom: 61px;
      @media (min-width: theme('screens.lg')) {
        margin-bottom: 150px;
      }
    }
    &-category {
      @apply flex gap-x-[16px];
    }
    &-snsShare {
      @apply justify-self-end;
    }
    &-thumbnail {
      @apply col-span-2;

      @media (max-width: theme('screens.lg')) {
        @apply mx-full;
      }
    }
    &-title {
      @apply col-span-2;
      margin-bottom: 28px;
    }
    &-meta {
      @apply col-span-2 justify-self-center;
      margin-top: 12px;
      margin-bottom: 27px;
    }
    &-tags {
      @apply col-span-2;
    }

    // style
    &-header {
      text-align: center;
    }
    &-category {
      text-align: left;
      a {
        font-size: 24px;
        font-weight: bold;
      }
    }
    &-snsShare {
    }
    &-thumbnail {
      img {
        margin: auto;
      }
    }
    &-title {
      font-size: 52px;
      line-height: 1.31;
      font-weight: bold;
    }
    &-meta {
      font-size: 18px;
      time {
        font-size: 20px;
      }
    }
    &-tags {
      font-size: 18px;
      margin-bottom: 77px;
    }
  }
}

%contentGroup {
  .entry {
    &-content {
      padding-top: 100px;
      padding-bottom: 100px;
      margin-bottom: 35px;

      @media (min-width: theme('screens.lg')) {
        @apply mx-auto;

        max-width: 820px;
      }

      img,
      figure {
        max-width: 100%;
      }

      .youtubeifrmae {
        @apply aspect-w-16 aspect-h-9;
      }

      a {
        @include pointUnderLine;

        &:hover {
          --h: 98%;
        }
      }
    }
  }
}

.entry-root {
  padding-top: 73px;

  @extend %headerGroup;
  @extend %contentGroup;
}
