// GNB

&__global {
  --h-gnb: 96px;

  &-inner {
    @apply h-[var(--h-gnb)] px-[80px]
      flex
      items-center
      justify-between;
  }

  &-logo {
    @apply mr-[144px];
  }

  &-nav {
    @apply flex
      items-center
      gap-x-[84px]
      text-[24px]
      leading-snug;

    &-item {
      --h: 0px;
      @apply px-[4px];
      @include pointUnderLine;
      @apply ring-deepSpaceRodeo ring-opacity-20;

      &:hover {
        --h: 12px;
      }
    }
  }
}
