// GNB

&__global {
  --h-gnb: 60px;
  @apply border-b-[1px] border-gravelFint;

  @media (min-width: theme('screens.sm')) {
    --h-gnb: 96px;
  }

  &-inner {
    @apply h-[var(--h-gnb)] px-[80px]
      flex
      items-center
      justify-between;
  }

  &-logo {
    @apply mr-[144px];
  }

  &-nav {
    @apply flex
      items-center
      gap-x-[84px]
      text-[24px]
      leading-snug;

    &-item {
      --h: 0px;
      @apply px-[4px];
      @include pointUnderLine;
      @apply ring-deepSpaceRodeo ring-opacity-20;

      &:hover {
        --h: 12px;
      }

      &-parent {
        position: relative;
      }
    }
  }

  &-subnav {
    @apply w-[166px] text-[18px] grid grid-cols-1 border border-dugong bg-steam gap-[1px];

    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    > li {
      @apply h-[58px] flex items-center px-[16px] bg-[#f8f8f8] text-black font-medium;

      &:hover {
        @apply bg-white text-deepSpaceRodeo;
      }
    }
  }
}
