// GNB
@at-root {
  :root {
    --h-gnb: 60px;
    --h-m_search: 60px;
    --h-m_gnb-nav: 0px;

    @media (max-width: theme('screens.lg')) {
      --h-m_gnb-nav: 44px;
    }
    @media (min-width: theme('screens.lg')) {
      --h-gnb: 96px;
    }
  }
}

&__m_main {
  &-nav {
    @apply h-[var(--h-m_gnb-nav)]
      flex
      gap-x-[40px]
      text-[16px]
      leading-snug
      justify-center
      relative
      border-black
      border-b-[1px]
      border-opacity-30;

    &-item {
      @apply h-full flex items-center text-[16px];

      white-space: nowrap;

      &-parent > .active {
        position: relative;
        &::after {
          @apply border-deepSpaceRodeo border-b-[4px];

          content: '';
          position: absolute;
          bottom: 0;
          width: 0;
          left: 50%;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          transform: translateX(-50%);
        }
      }
    }
  }

  &-subnav {
    @apply w-full text-[14px] flex bg-white gap-[40px] justify-center;
    @apply border-deepSpaceRodeo
    border-b
    border-t
    border-opacity-30;

    overflow-x: scroll;
    @include no-scrollbar;

    position: absolute;
    top: 100%;
    left: 0;

    > li {
      @apply h-[var(--h-m_gnb-nav)] flex items-center text-opacity-50;

      a:hover {
        @apply text-deepSpaceRodeo;
      }

      &:hover,
      &.current-menu-item {
        @apply text-opacity-100;

        position: relative;

        &::after {
          @apply bg-white;

          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          height: 4px;
          width: 100%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &-search {
    @apply h-[var(--h-m_search)] 
      px-[16px]
      flex
      gap-x-[4px]
      items-center
      justify-center
      bg-white
      absolute
      border-black border-b-[1px] border-opacity-30
      -translate-y-full;

    left: 0;
    top: 0;
    width: 100%;
  }
}
