// GNB
@at-root {
  :root {
    --h-gnb: 60px;

    @media (min-width: theme('screens.lg')) {
      --h-gnb: 96px;
    }
  }
}

&__main {
  @apply bg-white;

  @media (min-width: theme('screens.lg')) {
    @apply border-b-[1px] border-[#eee];
  }

  a:hover {
    @apply text-deepSpaceRodeo;
  }

  &-inner {
    @apply h-[var(--h-gnb)]
      flex
      items-center
      justify-between
      container mx-auto xl:max-w-desktop xl:px-[80px];

    @media (max-width: theme('screens.lg')) {
      position: relative;
      &:after {
        @apply bg-brightGray;
        content: '';
        display: block;
        position: absolute;
        width: 100vw;
        height: 1px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }

  &-logo {
    @apply h-[24px];

    @media (min-width: theme('screens.xl')) {
      margin-right: 124px;
      height: 36px;
    }

    img {
      height: 100%;
    }
  }

  &-nav {
    @apply flex
      items-center
      text-[20px]
      gap-x-[22px]
      leading-snug;

    height: 100%;

    @media (min-width: theme('screens.xl')) {
      @apply gap-x-[84px];
    }

    &-item {
      --h: 0px;
      @apply px-[4px];
      transition: none;
      white-space: nowrap;

      &:hover {
        --h: 12px;
      }

      &-parent {
        @apply flex items-center;

        height: 100%;
        position: relative;

        &.current-menu-item {
          @apply text-deepSpaceRodeo;
        }
        &.hover {
          @apply text-deepSpaceRodeo;
          &:after {
            @apply bg-deepSpaceRodeo;
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -1px;
          }
        }
      }
    }
  }

  &-subnav {
    @apply text-[18px] flex gap-x-[60px];

    position: absolute;
    top: calc(100% + 1px);
    left: 0;

    &:after {
      @apply bg-white shadow-md;

      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 200vw;
      height: 100%;
      z-index: -1;
    }

    > li {
      @apply h-[82px] flex items-center text-black font-medium text-[18px];

      .menu-link {
        white-space: nowrap;
      }
    }
  }
}
