&__page {
  --h-pageheader: 460px;
  @apply h-[var(--h-pageheader)];

  @media (min-width: theme('screens.sm')) {
    --h-pageheader: 280px;
  }

  &-inner {
    @apply container mx-auto xl:max-w-desktop text-white relative overflow-hidden h-full;

    @apply flex flex-wrap items-center justify-center;
  }
  &-labelWrap {
    @apply absolute top-0 left-0;
    @apply z-20 py-[44px] px-[20px] bg-blackOut flex items-center justify-center w-[180px];

    @media (min-width: theme('screens.sm')) {
      @apply w-[360px] h-full py-0;
    }
  }
  &-label {
    @apply text-[18px] relative;

    @media (min-width: theme('screens.sm')) {
      @apply text-[26px];
    }

    margin-bottom: 0.2em;

    &:after {
      content: '';
      position: absolute;
      top: calc(100% + 0.4em);
      display: block;
      width: calc(100% + 2 * 20px);
      min-width: 180px;
      height: 2px;
      background-color: #fff;

      @media (min-width: theme('screens.sm')) {
        width: calc(100% + 2 * 80px);
        height: 4px;
      }
    }
  }
  &-main {
    @apply relative z-10 flex justify-center;
    @apply pt-[20px];

    @media (min-width: theme('screens.sm')) {
      @apply pt-0;
    }

    @media (min-width: theme('screens.lg')) {
      max-width: 50%;
    }
  }
  &-title {
    @apply text-[22px] mb-[17px] font-medium;

    @media (min-width: theme('screens.sm')) {
      @apply text-[26px];
    }

    @media (max-width: theme('screens.sm')) {
      br {
        display: none;
      }
    }
  }
  &-subtitle {
    @apply text-[16px] opacity-50;
  }
  &-bg {
    @apply absolute w-full h-full object-cover top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}
