.btn {
  @apply focus:ring-0 outline-none focus:outline-none;
}

@layer components {
  .btn-black {
    @apply py-2 
      px-4
      bg-blackOut
      text-white
      font-semibold
      rounded-full
      hover:bg-gray-600
      focus:outline-none
      focus:ring-2
      focus:ring-gray-300
      focus:ring-opacity-75;
  }
}
