%basebtn {
  display: inline-block;
}
.btn {
  @extend %basebtn;
  @apply focus:ring-0 outline-none focus:outline-none;
}

@layer components {
  .btn-white {
    @extend %basebtn;
    @apply py-2
      px-4
      text-raisinBlack
      border
      border-raisinBlack
      font-normal
      rounded-full
      focus:outline-none
      focus:ring-2;
  }
  .btn-gray {
    @extend %basebtn;
    @apply py-2
      px-4
      bg-[#f4f5f7]
      text-dugong
      font-normal
      rounded-full
      focus:outline-none
      focus:ring-2;
  }

  .btn-black {
    @extend %basebtn;
    @apply py-2
      px-4
      bg-black
      text-white
      font-semibold
      rounded-full
      focus:outline-none
      focus:ring-2;

    &:hover {
      color: #fff !important;
    }
  }

  .btn-blackOut {
    @extend %basebtn;
    @apply py-2
      px-4
      bg-blackOut
      text-white
      font-semibold
      rounded-full
      hover:bg-gray-900
      focus:outline-none
      focus:ring-2
      focus:ring-opacity-75;

    &:hover {
      color: #fff !important;
    }
  }

  .btn-carbon {
    @extend %basebtn;
    @apply py-2
      px-4
      bg-carbon
      text-white
      font-semibold
      rounded-full
      hover:bg-opacity-90
      focus:outline-none
      focus:ring-2
      focus:ring-gray-800
      focus:ring-opacity-75;
  }

  .btn-primary {
    @extend %basebtn;
    @apply py-2
      px-4
      bg-primary
      text-white
      font-semibold
      hover:bg-opacity-90
      focus:outline-none
      focus:ring-2
      focus:ring-primary
      focus:ring-opacity-75;
  }

  .btn-seaSerpent {
    @extend %basebtn;
    @apply py-2
      px-4
      bg-seaSerpent
      text-white
      font-semibold
      rounded-full
      hover:bg-opacity-90
      focus:outline-none
      focus:ring-2
      focus:ring-seaSerpent
      focus:ring-opacity-75;
  }

  .btn-search {
    @extend .btn;
    @apply w-[24px] h-[24px];

    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg data-name='그룹 3931'%3E%3Cg data-name='타원 7' transform='translate(2 2)' style='stroke:%23333;stroke-width:2px;fill:none'%3E%3Ccircle cx='9' cy='9' r='9' style='stroke:none'/%3E%3Ccircle cx='9' cy='9' r='8' style='fill:none'/%3E%3C/g%3E%3Cpath data-name='선 10' transform='translate(17.5 17.5)' style='stroke-linecap:round;stroke:%23333;stroke-width:2px;fill:none' d='m0 0 4 3.761'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: transparent;
    @media (min-width: theme('screens.sm')) {
      @apply w-[48px] h-[48px];
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg data-name='그룹 3931'%3E%3Cg data-name='타원 7' transform='translate(4 4)' style='stroke:%23666;stroke-width:2px;fill:none'%3E%3Cellipse cx='10' cy='10.5' rx='10' ry='10.5' style='stroke:none'/%3E%3Cellipse cx='10' cy='10.5' rx='9' ry='9.5' style='fill:none'/%3E%3C/g%3E%3Cpath data-name='선 10' transform='rotate(-45 35.322 -14.45)' style='stroke-linecap:round;stroke:%23666;stroke-width:2px;fill:none' d='M0 0v10.285'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .btn-menu {
    @extend .btn;
    @apply w-[24px] h-[24px];

    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg id='icon24_AR' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E .cls-2%7Bfill:%23333%7D %3C/style%3E%3C/defs%3E%3Crect id='사각형_280' data-name='사각형 280' class='cls-2' width='22' height='2' rx='1' transform='translate(1 3)'/%3E%3Crect id='사각형_281' data-name='사각형 281' class='cls-2' width='22' height='2' rx='1' transform='translate(1 19)'/%3E%3Crect id='사각형_282' data-name='사각형 282' class='cls-2' width='22' height='2' rx='1' transform='translate(1 11)'/%3E%3C/svg%3E%0A");
    background-color: transparent;
  }

  .btn-times {
    @extend .btn;
    @apply w-[24px] h-[24px];

    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg id='icon24_AR' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E .cls-2%7Bfill:%23333%7D %3C/style%3E%3C/defs%3E%3Crect id='사각형_282' data-name='사각형 282' class='cls-2' width='22' height='2' rx='1' transform='rotate(45 -1.778 7.707)'/%3E%3Crect id='사각형_1525' data-name='사각형 1525' class='cls-2' width='22' height='2' rx='1' transform='rotate(135 9.222 6.707)'/%3E%3C/svg%3E%0A");
    background-color: transparent;
  }

  .btn-arrow {
    @extend .btn;
    @apply w-[24px] h-[24px];

    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cstyle%3E .cls-2%7Bfill:%23999%7D %3C/style%3E%3C/defs%3E%3Cg id='icon28_arr_up' transform='rotate(-90 5.97 4.97)'%3E%3Cg id='그룹_4174' data-name='그룹 4174' transform='translate(-.092 -.313)'%3E%3Cpath id='패스_961' data-name='패스 961' class='cls-2' d='m1 0 10.058.058A1.02 1.02 0 0 1 12.07 1.07a.992.992 0 0 1-1 1L1.012 2.012A1.02 1.02 0 0 1 0 1a.992.992 0 0 1 1-1z' transform='rotate(135 2.294 2.284)'/%3E%3Cpath id='패스_962' data-name='패스 962' class='cls-2' d='M1.012.058 11.07 0a.992.992 0 0 1 1 1 1.02 1.02 0 0 1-1.012 1.012L1 2.07a.992.992 0 0 1-1-1A1.02 1.02 0 0 1 1.012.058z' transform='rotate(-135 5.724 8.064)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    &.active {
      transform: rotate(180deg);
    }
  }

  .btn-darkSilver {
    @apply py-2
      px-4
      bg-darkSilver
      text-white
      font-semibold
      rounded-full
      hover:bg-gray-500
      focus:outline-none
      focus:ring-2
      focus:ring-gray-300
      focus:ring-opacity-75;
  }

  .btn-backtop {
    display: block;
    width: 48px;
    height: 48px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxjaXJjbGUgc3Ryb2tlPSIjREREIiBmaWxsLW9wYWNpdHk9Ii44IiBmaWxsPSIjRkZGIiBjeD0iMjQiIGN5PSIyNCIgcj0iMjMuNSIvPgogICAgICAgIDxwYXRoIGQ9Ik0yMy44MTggMTUuMDM2YS41MDguNTA4IDAgMCAxIC4zNjQgMGMuMDIyLjAxLjA0LjAyMy4wNi4wMzUuMDI3LjAxNS4wNTYuMDI1LjA4LjA0Nmw5LjUgOGEuNS41IDAgMCAxLS42NDUuNzY2TDI0LjUgMTYuNTc0VjM0LjVhLjUuNSAwIDAgMS0xIDBWMTYuNTc0bC04LjY3OCA3LjMxYS41MDIuNTAyIDAgMCAxLS42NDUtLjc2N2w5LjUtOGMuMDI1LS4wMi4wNTQtLjAzLjA4MS0uMDQ2LjAyLS4wMTIuMDM4LS4wMjYuMDYtLjAzNXpNMzIuNSAxM2EuNS41IDAgMCAxIDAgMWgtMTdhLjUuNSAwIDAgMSAwLTF6IiBmaWxsPSIjNzA3MDcwIi8+CiAgICA8L2c+Cjwvc3ZnPgo=) no-repeat;
    background-size: 48px auto;
  }
}
