@mixin icon {
  column-gap: 8px;
  display: inline-flex;
  align-items: center;

  &:before {
    content: '';
    width: 1.4em;
    height: 1.4em;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@layer utilities {
  .icon-label {
    &-google_play {
      @include icon;

      &:before {
        background-size: 124%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' fill='%23BEBEBE'%3E%3Cpath d='M10.09,8a1.94,1.94,0,0,1,1.28.28l13,7.39L21.08,19Zm-1,1A2.31,2.31,0,0,0,9,9.67V30.33a2.31,2.31,0,0,0,.09.67l11-11Zm12,12-11,11a1.88,1.88,0,0,0,1.28-.28l13-7.39Zm8.52-2.34-3.94-2.24L22.07,20l3.59,3.59,3.94-2.24C30.9,20.61,30.9,19.39,29.6,18.65Z' data-name='Google Play'/%3E%3C/svg%3E");
      }
    }

    &-app_store {
      @include icon;

      &:before {
        background-size: 124%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 24 24' fill='%23BEBEBE'%3E%3Cpath d='M14.94,5.19A4.38,4.38,0,0,0,16,2,4.44,4.44,0,0,0,13,3.52,4.17,4.17,0,0,0,12,6.61,3.69,3.69,0,0,0,14.94,5.19Zm2.52,7.44a4.51,4.51,0,0,1,2.16-3.81,4.66,4.66,0,0,0-3.66-2c-1.56-.16-3,.91-3.83.91s-2-.89-3.3-.87A4.92,4.92,0,0,0,4.69,9.39C2.93,12.45,4.24,17,6,19.47,6.8,20.68,7.8,22.05,9.12,22s1.75-.82,3.28-.82,2,.82,3.3.79,2.22-1.24,3.06-2.45a11,11,0,0,0,1.38-2.85A4.41,4.41,0,0,1,17.46,12.63Z'/%3E%3C/svg%3E");
      }
    }

    &-fap {
      @include icon;

      flex-direction: column;
      justify-content: center;

      @media (min-width: theme('screens.sm')) {
        display: flex;
        flex-direction: row;
        justify-content: unset;
      }

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg data-name='그룹 4017'%3E%3Cg data-name='그룹 4016'%3E%3Cg data-name='그룹 4015'%3E%3Cpath data-name='패스 809' d='M10 0A10 10 0 1 1 0 10 10.011 10.011 0 0 1 10 0zm0 1.333A8.667 8.667 0 1 0 18.667 10 8.677 8.677 0 0 0 10 1.333zM10 14a.667.667 0 1 1-.667.667A.666.666 0 0 1 10 14zm0-8.667a3.025 3.025 0 0 1 .667 5.97v1.125a.667.667 0 0 1-1.333 0v-1.715a.666.666 0 0 1 .666-.667 1.69 1.69 0 1 0-1.667-1.689.667.667 0 1 1-1.333 0 3.016 3.016 0 0 1 3-3.024z' style='fill:%2358bbd5;fill-rule:evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

    &-mail {
      @include icon;

      flex-direction: column;
      justify-content: center;

      @media (min-width: theme('screens.sm')) {
        display: flex;
        flex-direction: row;
        justify-content: unset;
      }

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg data-name='그룹 4009'%3E%3Cg data-name='그룹 4008'%3E%3Cg data-name='그룹 4007'%3E%3Cpath data-name='패스 807' d='M10 0A10 10 0 1 1 0 10 10.011 10.011 0 0 1 10 0zm0 1.333A8.667 8.667 0 1 0 18.667 10 8.677 8.677 0 0 0 10 1.333zm4 5.333a.666.666 0 0 1 .667.667V12.6a.666.666 0 0 1-.667.667h-2.312l-1.219 1.2a.665.665 0 0 1-.937 0l-1.219-1.2H6a.666.666 0 0 1-.667-.667V7.333A.666.666 0 0 1 6 6.667zM13.333 8H6.667v3.936h1.919a.665.665 0 0 1 .469.193l.945.933.945-.933a.665.665 0 0 1 .469-.193h1.919z' style='fill:%2358bbd5;fill-rule:evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

    &-call {
      @include icon;

      flex-direction: column;
      justify-content: center;

      @media (min-width: theme('screens.sm')) {
        display: flex;
        flex-direction: row;
        justify-content: unset;
      }

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg data-name='그룹 4013'%3E%3Cg data-name='그룹 4012'%3E%3Cg data-name='그룹 4011'%3E%3Cpath data-name='패스 808' d='M10 0A10 10 0 1 1 0 10 10.011 10.011 0 0 1 10 0zm0 1.333A8.667 8.667 0 1 0 18.667 10 8.677 8.677 0 0 0 10 1.333zM7.437 4.667a1.929 1.929 0 0 1 1.62.875l.176.263c.362.538.675 1 .887 1.38a2.059 2.059 0 0 1-.263 2.3l-.057.062c.075.092.173.2.3.335s.256.242.35.319l.063-.058a2.048 2.048 0 0 1 2.3-.26c.374.208.835.518 1.368.877l.272.183a1.978 1.978 0 0 1 .691 2.493 3.614 3.614 0 0 1-1.626 1.6 2.82 2.82 0 0 1-1.323.3c-1.489 0-3.237-.928-4.921-2.612-2.7-2.7-2.963-5-2.31-6.245a3.615 3.615 0 0 1 1.598-1.626 2.22 2.22 0 0 1 .875-.186zm0 1.333a.9.9 0 0 0-.347.077A2.332 2.332 0 0 0 6.15 7.1c-.391.746-.124 2.488 2.072 4.683C9.889 13.445 11.293 14 12.2 14a1.527 1.527 0 0 0 .705-.15 2.333 2.333 0 0 0 1.018-.939.662.662 0 0 0-.208-.86c-.6-.4-1.163-.789-1.547-1a.7.7 0 0 0-.317-.07.67.67 0 0 0-.451.163c-.23.205-.287.386-.455.5a.658.658 0 0 1-.348.095.759.759 0 0 1-.325-.075 3.805 3.805 0 0 1-1.105-.823 3.812 3.812 0 0 1-.824-1.106.7.7 0 0 1 .021-.672c.109-.169.289-.225.495-.455a.721.721 0 0 0 .093-.767c-.215-.384-.6-.949-1-1.547A.593.593 0 0 0 7.437 6z' style='fill:%2358bbd5;fill-rule:evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

    &-award1 {
      @include icon;

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg style='color: %23bebebe' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='88.716px' height='135.21px' viewBox='0 0 88.716 135.21' enable-background='new 0 0 88.716 135.21' xml:space='preserve'%3E%3Cpath fill='currentColor' d='M0,97.512v-46.81h21.556c0,0,9.929,0.517,17.982,6.173c5.898,4.151,10.607,11.718,10.607,20.539v20.098	H32.808V79.288c0,0,0.067-4.427-4.555-8.643c-2.559-2.334-6.056-3.909-10.912-4.48v31.346H0z'%3E%3C/path%3E%3Cpolygon fill='currentColor' points='0.252,135.21 0.252,107.803 11.084,107.803 16.128,126.44 16.216,126.44 21.563,107.803 32.045,107.803 32.045,135.21 25.489,135.21 25.489,114.067 25.398,114.067 19.201,135.21 12.783,135.21 6.898,114.067 6.805,114.067 6.805,135.21 '%3E%3C/polygon%3E%3Cpolygon fill='currentColor' points='81.317,107.8 88.716,107.8 79.712,120.1 88.716,135.21 81.14,135.21 73.424,121.164 73.334,121.164 73.334,135.21 66.603,135.21 66.603,107.8 73.334,107.8 73.334,119.535 73.424,119.535 '%3E%3C/polygon%3E%3Cpolygon fill='currentColor' points='53.847,129.134 53.819,129.134 54.465,131.229 '%3E%3C/polygon%3E%3Cpolygon fill='currentColor' points='62.724,135.21 53.98,107.803 45.107,107.803 36.193,135.21 42.833,135.21 44.063,131.136 46.669,122.35 49.077,113.073 49.171,113.073 51.481,121.503 53.823,129.134 53.847,129.134 54.465,131.229 54.465,131.243 55.634,135.21 '%3E%3C/polygon%3E%3Cpath fill='currentColor' d='M54.465,131.229v0.007V131.229z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M74.65,62.243c0.073-8.796,0.231-27.098-17.177-38.632c-16.108-10.681-40.271-9.928-46.457-9.525v28.438	h7.731V24.44c0,0,44.986-1.659,44.986,37.11v35.958h10.858c0.018-9.357,0.051-27.76,0.051-33.762L74.65,62.243z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M88.105,50.702c0,0,0-14.59-10.446-28.663c-6.764-9.105-19.601-17.64-35.984-19.958	C22.503-0.632,7.033,0.086,7.033,0.086H0v42.44h7.708V11.063l1.488-0.151c1.232-0.131,30.598-2.989,50.104,9.938	C78.204,33.378,78.039,52.892,77.958,62.27l-0.01,1.478c0,5.999-0.03,24.401-0.047,33.765h10.204V50.702z'%3E%3C/path%3E%3C/svg%3E");
        width: 1.8em;
        height: 1.8em;
        background-position: 2px center;
      }
    }
    &-award2 {
      @include icon;

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg class='i-footer2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='147.583px' height='124.471px' viewBox='0 0 147.583 124.471' enable-background='new 0 0 147.583 124.471' xml:space='preserve'%3E%3Cpolygon fill-rule='evenodd' clip-rule='evenodd' fill='%23BEBEBE' points='0,0 0,124.471 35.801,124.471 35.801,46.554 70.385,81.945 70.385,35.391 35.801,0 0,0 '%3E%3C/polygon%3E%3Cpolygon fill-rule='evenodd' clip-rule='evenodd' fill='%23BEBEBE' points='111.788,0 77.203,35.391 77.203,81.945 111.788,46.554 111.788,124.471 147.583,124.471 147.583,0 111.788,0'%3E%3C/polygon%3E%3C/svg%3E");
        width: 1.4em;
        height: 1.4em;
        margin-right: 0.4em;
      }
    }
    &-award3 {
      @include icon;

      &:before {
        background-image: url('/wp-content/themes/sage/resources/images/i-footer3.png');
        width: 1.8em;
        height: 1.8em;
      }
    }

    &-arrowNext {
      @include icon;

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60.828' height='40' viewBox='0 0 60.828 40'%3E%3Cdefs%3E%3Cstyle%3E .cls-2%7Bfill:none;stroke:%23666;stroke-linecap:round;stroke-width:4px%7D %3C/style%3E%3C/defs%3E%3Cg id='icon40_arr' transform='translate(-426 -5285)'%3E%3Cg id='그룹_4134' data-name='그룹 4134' transform='translate(-.5 .5)'%3E%3Cpath id='선_63' data-name='선 63' class='cls-2' transform='translate(468.5 5288.5)' d='m0 0 16 16'/%3E%3Cpath id='선_64' data-name='선 64' class='cls-2' transform='translate(468.5 5304.5)' d='M0 16 16 0'/%3E%3Cpath id='선_65' data-name='선 65' class='cls-2' transform='translate(429 5305)' d='M52 0H0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        width: 1em;
        height: 1em;
      }
    }

    &-circleArrowNext {
      @include icon;

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg data-name='타원 10' style='fill:%23666;stroke:rgba(0,0,0,.1)'%3E%3Ccircle cx='30' cy='30' r='30' style='stroke:none'/%3E%3Ccircle cx='30' cy='30' r='29.5' style='fill:none'/%3E%3C/g%3E%3Cg data-name='그룹 84'%3E%3Cpath data-name='패스 41' d='M0 0h11.25v11.25' transform='rotate(45 -10.534 49.68)' style='stroke-linejoin:round;stroke:%23fff;stroke-linecap:round;stroke-width:2px;fill:none'/%3E%3Cpath data-name='선 11' transform='translate(20 30)' style='stroke:%23fff;stroke-linecap:round;stroke-width:2px;fill:none' d='M0 0h20'/%3E%3C/g%3E%3C/svg%3E%0A");
        width: 1em;
        height: 1em;
      }
    }
    &-attached {
      @include icon;

      &:before {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDMyIDMyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48ZyB0cmFuc2Zvcm09Im1hdHJpeCg2LjEyMzIzMzk5NTczNjc2NmUtMTcsMSwtMSw2LjEyMzIzMzk5NTczNjc2NmUtMTcsMzEuOTk4MzA2NzUxMjUxMjIsLTAuMDAyMzA5MzIyMzU3MTc3NzM0NCkiPjxzY3JpcHQ+PC9zY3JpcHQ+PGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBpZD0iX3gzOF8yX2F0dGFjaG1lbnQiPjxwYXRoIGQ9Im0zMCA5YzAgMi4xMzctLjgzMiA0LjE0Ni0yLjM0MyA1LjY1N2wtMTQuNDEgMTQuNTgxYy0xLjE3MiAxLjE3Mi0yLjcxMSAxLjc1OC00LjI0OSAxLjc1OC0xLjUzNiAwLTMuMDcyLS41ODUtNC4yNDEtMS43NTQtMi4zMzktMi4zNC0yLjMzOS02LjE0NiAwLTguNDg1bDEwLjQxLTEwLjM1MWMxLjU2My0xLjU1MyA0LjA0Ny0xLjYwNCA1LjU0LS4xMTMuNzI5LjcyOSAxLjExMyAxLjcxMyAxLjA4MiAyLjc3Mi0uMDMxIDEuMDM2LS40NTggMi4wMTgtMS4yMDMgMi43NjNsLTkuODc5IDkuODc5Yy0uMzkxLjM5MS0xLjAyMy4zOTEtMS40MTQgMHMtLjM5MS0xLjAyMyAwLTEuNDE0bDkuODc5LTkuODc5Yy4zODMtLjM4My42MDMtLjg4My42MTgtMS40MDguMDE1LS41MDItLjE2Mi0uOTY0LS40OTctMS4yOTktLjcxNS0uNzEyLTEuOTMzLS42NjEtMi43MTUuMTE3bC0xMC40MDkgMTAuMzQ5Yy0xLjU1NyAxLjU1OC0xLjU1NyA0LjA5Ni4wMDIgNS42NTUgMS41NiAxLjU1OSA0LjA5NyAxLjU1OSA1LjY1NyAwbDE0LjQxLTE0LjU4MWMxLjEzOC0xLjEzOCAxLjc2Mi0yLjY0NCAxLjc2Mi00LjI0N3MtLjYyNC0zLjEwOS0xLjc1Ny00LjI0MmMtMS4xMzQtMS4xMzQtMi42NC0xLjc1OC00LjI0My0xLjc1OHMtMy4xMDkuNjI0LTQuMjQzIDEuNzU4bC0xNC4wNTIgMTMuOTUyYy0uMzkzLjM4OS0xLjAyNS4zODctMS40MTQtLjAwNi0uMzg5LS4zOTItLjM4Ny0xLjAyNC4wMDUtMS40MTRsMTQuMDUtMTMuOTQ5YzEuNTA4LTEuNTA5IDMuNTE3LTIuMzQxIDUuNjU0LTIuMzQxczQuMTQ2LjgzMiA1LjY1NyAyLjM0NGMxLjUxMSAxLjUxIDIuMzQzIDMuNTE5IDIuMzQzIDUuNjU2eiIgZmlsbD0iIzAwMDAwMCIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCI+PC9wYXRoPjwvZz48L2c+PC9zdmc+);
        width: 1em;
        height: 1em;
      }
    }
    &-share {
      @include icon;

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.873' height='17.873' viewBox='0 0 17.873 17.873'%3E%3Cpath data-name='패스 761' d='M716.456 485.866v3.684l6.888-6.6-6.888-6.6v3.684c-6.975 0-10.538 3.312-10.538 11.362 2.026-5.231 5.194-5.528 10.538-5.528' transform='translate(-705.471 -475.008)' style='fill:%23fff'/%3E%3C/svg%3E%0A");
        width: 1em;
        height: 1em;
      }
    }
    &-file {
      @include icon;

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24.409' viewBox='0 0 25 24.409'%3E%3Cdefs%3E%3Cstyle%3E .cls-2%7Bfill:none;stroke:%23494949;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px%7D %3C/style%3E%3C/defs%3E%3Cg id='icon48_file' transform='translate(0 -.056)'%3E%3Cg id='그룹_3987' data-name='그룹 3987' transform='translate(1.024 1.056)'%3E%3Cpath id='패스_796' data-name='패스 796' class='cls-2' d='M460.964 519.578H442.57v22.409h22.522v-18.28z' transform='translate(-442.57 -519.578)'/%3E%3Cpath id='패스_797' data-name='패스 797' class='cls-2' d='M453.82 519.578v5.264h11.347v-5.264' transform='translate(-448.232 -519.578)'/%3E%3Cpath id='선_31' data-name='선 31' class='cls-2' transform='translate(6.218 11.567)' d='M0 0h10.086'/%3E%3Cpath id='선_32' data-name='선 32' class='cls-2' transform='translate(6.218 15.475)' d='M0 0h10.086'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        width: 1em;
        height: 1em;
      }
    }
  }
}

.footer_sns_icon {
  > a:before {
    font-size: 32px;
    border-radius: 5px;
  }

  &.naver_post > a {
    @include icon;

    font-size: 0;

    &:before {
      width: 1em;
      height: 1em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ctitle%3E네이버 포스트%3C/title%3E%3Cpath fill='%23bebebe' d='M177.382 17.351h-3.308l-3.99-5.728v5.728h-3.466V6.648h3.308l3.99 5.73v-5.73h3.466v10.703zm5.634-17.35h-22.032c-.543 0-.984.44-.984.982v22.034c0 .542.441.983.984.983h22.032c.543 0 .984-.44.984-.983V.983c0-.543-.44-.983-.984-.983z' transform='translate(-336 -512) translate(0 172) translate(176 244) translate(0 96)'%3E%3C/path%3E%3C/svg%3E");
    }
  }
  &.facebook > a {
    @include icon;

    font-size: 0;

    &:before {
      width: 1em;
      height: 1em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ctitle%3Efacebook%3C/title%3E%3Cpath d='M22.676,0C23.407,0,24,0.593,24,1.324v21.353C24,23.407,23.407,24,22.676,24H16.56v-9.294h3.12l0.467-3.622H16.56V8.771c0-1.048,0.291-1.763,1.795-1.763l1.918-0.001V3.768c-0.332-0.044-1.47-0.143-2.795-0.143c-2.765,0-4.658,1.687-4.658,4.787v2.672H9.692v3.622h3.127V24H1.325C0.593,24,0,23.407,0,22.677V1.324C0,0.593,0.593,0,1.325,0H22.676' fill='%23bebebe'%3E%3C/path%3E%3C/svg%3E");
    }
  }
  &.youtube > a {
    @include icon;

    font-size: 0;

    &:before {
      width: 1em;
      height: 1em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 511.627 511.627' style='enable-background:new 0 0 511.627 511.627;' xml:space='preserve' fill='%23bebebe'%3E%3Cpath d='M459.954,264.376c-2.471-11.233-7.949-20.653-16.416-28.264c-8.474-7.611-18.227-12.085-29.27-13.418c-35.02-3.806-87.837-5.708-158.457-5.708c-70.618,0-123.341,1.903-158.174,5.708c-11.227,1.333-21.029,5.807-29.407,13.418c-8.376,7.614-13.896,17.035-16.562,28.264c-4.948,22.083-7.423,55.391-7.423,99.931c0,45.299,2.475,78.61,7.423,99.93c2.478,11.225,7.951,20.653,16.421,28.261c8.47,7.614,18.225,11.991,29.263,13.134c35.026,3.997,87.847,5.996,158.461,5.996c70.609,0,123.44-1.999,158.453-5.996c11.043-1.143,20.748-5.52,29.126-13.134c8.377-7.607,13.897-17.036,16.56-28.261c4.948-22.083,7.426-55.391,7.426-99.93C467.377,319.007,464.899,285.695,459.954,264.376z M165.025,293.218h-30.549v162.45h-28.549v-162.45h-29.98v-26.837h89.079V293.218z M242.11,455.668H216.7v-15.421c-10.278,11.615-19.989,17.419-29.125,17.419c-8.754,0-14.275-3.524-16.556-10.564c-1.521-4.568-2.286-11.519-2.286-20.844V314.627h25.41v103.924c0,6.088,0.096,9.421,0.288,9.993c0.571,3.997,2.568,5.995,5.996,5.995c5.138,0,10.566-3.997,16.274-11.991V314.627h25.41V455.668z M339.183,413.411c0,13.894-0.855,23.417-2.56,28.558c-3.244,10.462-9.996,15.697-20.273,15.697c-9.137,0-17.986-5.235-26.556-15.697v13.702h-25.406v-189.29h25.406v61.955c8.189-10.273,17.036-15.413,26.556-15.413c10.277,0,17.029,5.331,20.273,15.988c1.704,4.948,2.56,14.369,2.56,28.264V413.411z M435.685,390.003h-51.104v24.839c0,13.134,4.374,19.697,13.131,19.697c6.279,0,10.089-3.422,11.42-10.28c0.376-1.902,0.571-7.706,0.571-17.412h25.981v3.71c0,9.329-0.195,14.846-0.572,16.563c-0.567,5.133-2.56,10.273-5.995,15.413c-6.852,10.089-17.139,15.133-30.841,15.133c-13.127,0-23.407-4.855-30.833-14.558c-5.517-7.043-8.275-18.083-8.275-33.12v-49.396c0-15.036,2.662-26.076,7.987-33.119c7.427-9.705,17.61-14.558,30.557-14.558c12.755,0,22.85,4.853,30.263,14.558c5.146,7.043,7.71,18.083,7.71,33.119V390.003L435.685,390.003z'%3E%3C/path%3E%3Cpath d='M302.634,336.043c-4.38,0-8.658,2.101-12.847,6.283v85.934c4.188,4.186,8.467,6.279,12.847,6.279c7.419,0,11.14-6.372,11.14-19.13v-60.236C313.773,342.418,310.061,336.043,302.634,336.043z'%3E%3C/path%3E%3Cpath d='M397.428,336.043c-8.565,0-12.847,6.475-12.847,19.41v13.134h25.693v-13.134C410.274,342.511,405.99,336.043,397.428,336.043z'%3E%3C/path%3E%3Cpath d='M148.473,113.917v77.375h28.549v-77.375L211.563,0h-29.121l-19.41,75.089L142.759,0h-30.262c5.33,15.99,11.516,33.785,18.559,53.391C140.003,79.656,145.805,99.835,148.473,113.917z'%3E%3C/path%3E%3Cpath d='M249.82,193.291c13.134,0,23.219-4.854,30.262-14.561c5.332-7.043,7.994-18.274,7.994-33.689V95.075c0-15.225-2.669-26.363-7.994-33.406c-7.043-9.707-17.128-14.561-30.262-14.561c-12.756,0-22.75,4.854-29.98,14.561c-5.327,7.043-7.992,18.181-7.992,33.406v49.965c0,15.225,2.662,26.457,7.992,33.689C227.073,188.437,237.063,193.291,249.82,193.291z M237.541,89.935c0-13.134,4.093-19.701,12.279-19.701s12.275,6.567,12.275,19.701v59.955c0,13.328-4.089,19.985-12.275,19.985s-12.279-6.661-12.279-19.985V89.935z'%3E%3C/path%3E%3Cpath d='M328.328,193.291c9.523,0,19.328-5.901,29.413-17.705v15.703h25.981V48.822h-25.981v108.777c-5.712,8.186-11.133,12.275-16.279,12.275c-3.429,0-5.428-2.093-5.996-6.28c-0.191-0.381-0.287-3.715-0.287-9.994V48.822h-25.981v112.492c0,9.705,0.767,16.84,2.286,21.411C313.961,189.768,319.574,193.291,328.328,193.291z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}
