.icon {
  &-label {
    @mixin icon {
      column-gap: 8px;
      display: inline-flex;
      align-items: center;

      &:before {
        content: '';
        width: 1.4em;
        height: 1.4em;
        top: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    &.google_play,
    &[data-icon='google_play'] {
      @include icon;

      &:before {
        background-size: 124%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' fill='%23BEBEBE'%3E%3Cpath d='M10.09,8a1.94,1.94,0,0,1,1.28.28l13,7.39L21.08,19Zm-1,1A2.31,2.31,0,0,0,9,9.67V30.33a2.31,2.31,0,0,0,.09.67l11-11Zm12,12-11,11a1.88,1.88,0,0,0,1.28-.28l13-7.39Zm8.52-2.34-3.94-2.24L22.07,20l3.59,3.59,3.94-2.24C30.9,20.61,30.9,19.39,29.6,18.65Z' data-name='Google Play'/%3E%3C/svg%3E");
      }
    }

    &.app_store,
    &[data-icon='app_store'] {
      @include icon;

      &:before {
        background-size: 124%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 24 24' fill='%23BEBEBE'%3E%3Cpath d='M14.94,5.19A4.38,4.38,0,0,0,16,2,4.44,4.44,0,0,0,13,3.52,4.17,4.17,0,0,0,12,6.61,3.69,3.69,0,0,0,14.94,5.19Zm2.52,7.44a4.51,4.51,0,0,1,2.16-3.81,4.66,4.66,0,0,0-3.66-2c-1.56-.16-3,.91-3.83.91s-2-.89-3.3-.87A4.92,4.92,0,0,0,4.69,9.39C2.93,12.45,4.24,17,6,19.47,6.8,20.68,7.8,22.05,9.12,22s1.75-.82,3.28-.82,2,.82,3.3.79,2.22-1.24,3.06-2.45a11,11,0,0,0,1.38-2.85A4.41,4.41,0,0,1,17.46,12.63Z'/%3E%3C/svg%3E");
      }
    }

    &[data-icon='fap'] {
      @include icon;

      flex-direction: column;
      justify-content: center;

      @media (min-width: theme('screens.sm')) {
        display: flex;
        flex-direction: row;
        justify-content: unset;
      }

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg data-name='그룹 4017'%3E%3Cg data-name='그룹 4016'%3E%3Cg data-name='그룹 4015'%3E%3Cpath data-name='패스 809' d='M10 0A10 10 0 1 1 0 10 10.011 10.011 0 0 1 10 0zm0 1.333A8.667 8.667 0 1 0 18.667 10 8.677 8.677 0 0 0 10 1.333zM10 14a.667.667 0 1 1-.667.667A.666.666 0 0 1 10 14zm0-8.667a3.025 3.025 0 0 1 .667 5.97v1.125a.667.667 0 0 1-1.333 0v-1.715a.666.666 0 0 1 .666-.667 1.69 1.69 0 1 0-1.667-1.689.667.667 0 1 1-1.333 0 3.016 3.016 0 0 1 3-3.024z' style='fill:%2358bbd5;fill-rule:evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

    &[data-icon='mail'] {
      @include icon;

      flex-direction: column;
      justify-content: center;

      @media (min-width: theme('screens.sm')) {
        display: flex;
        flex-direction: row;
        justify-content: unset;
      }

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg data-name='그룹 4009'%3E%3Cg data-name='그룹 4008'%3E%3Cg data-name='그룹 4007'%3E%3Cpath data-name='패스 807' d='M10 0A10 10 0 1 1 0 10 10.011 10.011 0 0 1 10 0zm0 1.333A8.667 8.667 0 1 0 18.667 10 8.677 8.677 0 0 0 10 1.333zm4 5.333a.666.666 0 0 1 .667.667V12.6a.666.666 0 0 1-.667.667h-2.312l-1.219 1.2a.665.665 0 0 1-.937 0l-1.219-1.2H6a.666.666 0 0 1-.667-.667V7.333A.666.666 0 0 1 6 6.667zM13.333 8H6.667v3.936h1.919a.665.665 0 0 1 .469.193l.945.933.945-.933a.665.665 0 0 1 .469-.193h1.919z' style='fill:%2358bbd5;fill-rule:evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

    &[data-icon='call'] {
      @include icon;

      flex-direction: column;
      justify-content: center;

      @media (min-width: theme('screens.sm')) {
        display: flex;
        flex-direction: row;
        justify-content: unset;
      }

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg data-name='그룹 4013'%3E%3Cg data-name='그룹 4012'%3E%3Cg data-name='그룹 4011'%3E%3Cpath data-name='패스 808' d='M10 0A10 10 0 1 1 0 10 10.011 10.011 0 0 1 10 0zm0 1.333A8.667 8.667 0 1 0 18.667 10 8.677 8.677 0 0 0 10 1.333zM7.437 4.667a1.929 1.929 0 0 1 1.62.875l.176.263c.362.538.675 1 .887 1.38a2.059 2.059 0 0 1-.263 2.3l-.057.062c.075.092.173.2.3.335s.256.242.35.319l.063-.058a2.048 2.048 0 0 1 2.3-.26c.374.208.835.518 1.368.877l.272.183a1.978 1.978 0 0 1 .691 2.493 3.614 3.614 0 0 1-1.626 1.6 2.82 2.82 0 0 1-1.323.3c-1.489 0-3.237-.928-4.921-2.612-2.7-2.7-2.963-5-2.31-6.245a3.615 3.615 0 0 1 1.598-1.626 2.22 2.22 0 0 1 .875-.186zm0 1.333a.9.9 0 0 0-.347.077A2.332 2.332 0 0 0 6.15 7.1c-.391.746-.124 2.488 2.072 4.683C9.889 13.445 11.293 14 12.2 14a1.527 1.527 0 0 0 .705-.15 2.333 2.333 0 0 0 1.018-.939.662.662 0 0 0-.208-.86c-.6-.4-1.163-.789-1.547-1a.7.7 0 0 0-.317-.07.67.67 0 0 0-.451.163c-.23.205-.287.386-.455.5a.658.658 0 0 1-.348.095.759.759 0 0 1-.325-.075 3.805 3.805 0 0 1-1.105-.823 3.812 3.812 0 0 1-.824-1.106.7.7 0 0 1 .021-.672c.109-.169.289-.225.495-.455a.721.721 0 0 0 .093-.767c-.215-.384-.6-.949-1-1.547A.593.593 0 0 0 7.437 6z' style='fill:%2358bbd5;fill-rule:evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }
  }
}
