.heateorSsspSharingSvg {
  background-size: 24px;
}

// naver
.heateorSsspSharingSvg.heateorSsspNetvouzSvg {
  background-image: url("data:image/svg+xml,%3Csvg width='101' height='100' viewBox='0 0 101 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M68.1372 53.5212L30.8823 0H0V100H32.3529V46.4789L69.6078 100H100.49V0H68.1372V53.5212Z' fill='%2303CF5D'/%3E%3C/svg%3E%0A");
  background-size: 12px;
}
.heateorSsspSharing.heateorSsspNetvouzBackground {
  background-color: #e9fbf0;
}

// twitter
.heateorSsspSharingSvg.heateorSsspTwitterSvg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath data-name='패스 757' d='M196.573 308.824a12.141 12.141 0 0 0 13.339-.231 11.73 11.73 0 0 0 5.1-10.45 8.607 8.607 0 0 0 2.182-2.238 6.937 6.937 0 0 1-2.427.606s1.044-.256 1.864-2.237a11.779 11.779 0 0 1-2.713 1 4.2 4.2 0 0 0-5.426-.654s-2.7 1.875-1.818 4.517a11.931 11.931 0 0 1-8.721-4.432 4.258 4.258 0 0 0 1.236 5.624 3.5 3.5 0 0 1-1.846-.5 4.276 4.276 0 0 0 3.323 4.176 2.84 2.84 0 0 1-1.761.1s.313 2.712 3.849 2.94a8.312 8.312 0 0 1-6.181 1.779z' transform='translate(-194.902 -289.704)' style='fill:%2300aff0'/%3E%3C/svg%3E%0A");
  background-size: 16px;
}
.heateorSsspSharing.heateorSsspTwitterBackground {
  background-color: #cceffc;
}

// facebook
.heateorSsspSharingSvg.heateorSsspFacebookSvg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath data-name='패스 754' d='M183.514 372.474h1.714v-1.665a4.453 4.453 0 0 1 .552-2.569 3.049 3.049 0 0 1 2.661-1.248 10.768 10.768 0 0 1 3.073.309l-.429 2.539a5.774 5.774 0 0 0-1.38-.207c-.667 0-1.264.239-1.264.9v1.936h2.733l-.191 2.48h-2.543v8.616h-3.213v-8.616h-1.714z' transform='translate(-175.904 -363.465)' style='fill:%231877f2'/%3E%3C/svg%3E%0A");
  background-size: 16px;
}
.heateorSsspSharing.heateorSsspFacebookBackground {
  background-color: #e8f1fe;
}

// twitter
.heateorSsspSharingSvg.heateorSsspLinkedinSvg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E .cls-2%7Bfill:%23006192%7D %3C/style%3E%3C/defs%3E%3Cg id='icon40_in' transform='translate(-.215 .337)'%3E%3Cg id='그룹_3938' data-name='그룹 3938' transform='translate(3.53 2.718)'%3E%3Cpath id='사각형_720' data-name='사각형 720' class='cls-2' transform='translate(.93 6.32)' d='M0 0h3.53v11.414H0z'/%3E%3Ccircle id='타원_12' data-name='타원 12' class='cls-2' cx='2.083' cy='2.083' r='2.083' transform='rotate(-67.5 2.88 1.924)'/%3E%3Cpath id='패스_756' data-name='패스 756' class='cls-2' d='M359.148 621.423a4.092 4.092 0 0 0-3.778 1.6v-1.293h-3.521v11.414h3.521v-6.905c.241-1.025.942-2.061 2.874-1.547 0 0 1.082.11 1.067 2.714s-.016 5.742-.016 5.742l3.561-.016.031-6.275s.32-5.399-3.739-5.434z' transform='translate(-345.13 -615.396)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 16px;
}
.heateorSsspSharing.heateorSsspLinkedinBackground {
  background-color: #e1f2fb;
}

.nav__sns {
  @apply flex flex-wrap gap-[45px] justify-center;

  &-icon {
    @apply flex;

    width: 60px;
    height: 60px;
  }
  &-menu-link {
    @apply grid gap-y-[9px] items-center justify-center justify-items-center;
    @apply text-carbon;

    font-size: 14px;
  }
}
