@mixin card {
  .card__template {
    // layout
    @apply grid grid-rows-[auto,auto,auto,1fr,auto];
    &-meta {
      @apply order-last items-end;

      time {
        display: none;
      }
    }
    &-main {
      padding-top: 8px;
      padding-bottom: 20px;

      @media (min-width: theme('screens.lg')) {
        padding-bottom: 30px;
      }

      .prose {
        @apply line-clamp-2;
      }
    }

    &-thumbnail {
      order: -1;
      margin-bottom: 20px;
    }

    &-readmore {
      display: none;
    }
  }
}
